<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Home</span>
      <ion-img (click)="startdrive()" class="startImg" src="/assets/icon/start.png"></ion-img>
      <div class="activeColor"
        [ngStyle]="{'background': this.commonService.switchActive == true? '#2ecc71' : '#d64541','animation':this.msgmqttactive? 'mymove 2s infinite;':'unset'}">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas">
  </div>
</ion-content>